<md-content class="md-hue-4" layout-padding>
  <div class="md-whiteframe-12dp" style="width : 90%; margin: 10px auto 50px auto;">
    <md-toolbar class="md-hue-2" layout-align="center center">
      <h2 class="md-display-2">Create New Entry</h2>
    </md-toolbar>
    <!-- <md-content class="md-padding" layout-padding layout="column"> -->
      <form name="entryForm">

        <div layout-gt-xs="row">

          <h3 class="md-label"><strong>Child:</strong></h3>
          <md-input-container class="md-block" layout-align="center center" flex-gt-xs>
            <md-select ng-model="entry.child"  layout-align="center center" ng-required="required" required>
              <md-option ng-repeat="child in user.children" value="{{child.firstname}}"><strong>{{child.firstname}}</strong></md-option>
            </md-select>
          </md-input-container>

          <h3 class="md-label">Today's Rating:
          </h3>
          <md-input-container class="md-block" layout-align="center center" flex-gt-xs>
            <md-select ng-model="entry.rating" layout-align="center center" ng-required="required" required>
              <md-option value="5" layout-align="center center">★★★★★</md-option>
              <md-option value="4" layout-align="center center">★★★★</md-option>
              <md-option value="3" layout-align="center center">★★★</md-option>
              <md-option value="2" layout-align="center center">★★</md-option>
              <md-option value="1" layout-align="center center">★</md-option>
            </md-select>
          </md-input-container>
          <div>
            <div layout-align="center end">
              <md-datepicker class="md-hue-4" style="background: inherit;" ng-model="entry.date" md-placeholder="Enter date" ng-required="required" required></md-datepicker>
            </div>
          </div>

        </div>

        <div layout-gt-xs="row">
          <h3 class="md-label">Awesome Words and Phrases
          </h3>
          <md-chips ng-model="entry.phrases" name="phrases" delete-button-label="Remove Tag" delete-hint="Press delete to remove tag" secondary-placeholder="+Tag" md-max-chips="10"></md-chips>
        </div>

        <div layout-gt-xs="row" layout="column">
          <h3 class="md-label">Favorite things
          </h3>
          <md-chips ng-model="entry.things" delete-button-label="Remove Tag" delete-hint="Press delete to remove tag" secondary-placeholder="+Tag" md-max-chips="20"></md-chips>
        </div>

        <div layout-gt-xs="row" layout="column">
          <md-input-container class="md-block" flex-gt-xs>
            <h3 class="md-label">Accomplishments
            </h3>
            <md-chips ng-model="entry.accomplishments" secondary-placeholder="+Tag" name="accomplishments" md-max-chips="5"></md-chips>
          </md-input-container>
        </div>

        <md-input-container layout="column">
          <h3 class="md-label">Journal Entry</h3>
          <textarea ng-model="entry.journal" rows="5" md-maxlength="1000" md-select-on-focus ng-required="required" required></textarea>
        </md-input-container>

        <md-input-container class="md-block">
          <h3 class="md-label">General Notes</h3>
          <textarea ng-model="entry.notes" rows="3" md-maxlength="500" md-select-on-focus></textarea>
        </md-input-container>

        <div layout-gt-xs="row" layout="column" layout-align="center center">

          <md-button class="md-raised md-primary" class="md-block" ng-click="submit(entry)">Submit</md-button>

        </div>
      </form>
    <!-- </md-content> -->
  </div>
</md-content>
