<md-content layout-padding>
    <div style="width : 400px; margin: 20px;">
      <div>
        <md-card>
            <img ng-src="https://www.placecage.com/g/500/500" class="md-card-image">

            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Card Title</span>
              </md-card-title-text>
            </md-card-title>

            <md-card-content>
              <p>
                This is the content of the card.
              </p>
            </md-card-content>

            <md-card-actions layout="row" layout-align="end center">
              <md-button>Delete</md-button>
            </md-card-actions>
        </md-card>
      </div>
    </div>
</md-content>
